@use "./variable" as vars;
@use "./mixin" as *;

.etr-container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    color: vars.$primary-color;

    @media screen and (max-width: 1024px) {
        font-size: 56px;
    }

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576) {
        font-size: 20px;
    }
}

h2 {
    @include heading-color;
}

h3 {
    @include heading-color;
}