h1{
    font-size: 64px;
    font-weight: 700;
    color: #0C3C5E;
    @media screen and (max-width: 1024px) {
        font-size: 56px;
    }
    @media screen and (max-width: 768px) {
        font-size: 48px;
    }
    @media screen and (max-width: 576) {
        font-size: 20px;
    }
}
