/* Default CSS */
body {
    margin: 0;
}

h1 {
    font-size: 64px;
}

.etr-container {
    max-width: 1440px;
    padding: 0 64px;
    margin: auto;
}

/* Top Nav */
.top-nav {
    background: #0C3C5E;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.top-nav a {
    color: #0C3C5E;
    background: white;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
}

.top-nav a:hover {
    background: #0C3C5E;
    color: white;
    transition: 0.3s;
    border: 1px solid white;
}

/* Header CSS */
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.main-nav .quick-contact {
    display: flex;
    gap: 24px;
}

.main-nav .quick-contact .quick-question,
.main-nav .quick-contact .whatsapp {
    text-align: right;
}

.main-nav .quick-contact h4 {
    color: #0C3C5E;

}

.main-nav .quick-contact h4 span {
    color: #C65204;
}

.main-nav .quick-contact a {
    text-decoration: none;
    color: #0C3C5E;
}

.main-nav .quick-contact a:hover {
    text-decoration: underline;
}

.main-nav .quick-contact .whatsapp a {
    font-size: 24px;
}

.main-nav .quick-contact .whatsapp i {
    color: green;
}

.header-logo {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.main-menu {
    background: #0C3C5E;
    padding: 16px 0;
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: center;
    margin: 0;
}

.main-menu li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.main-menu .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #0C3C5E;
    color: white;
    display: none;
}

.main-menu li:hover .sub-menu {
    display: block;
    position: absolute;
    padding: 16px;
    border-radius: 4px;
}

.main-menu i {
    color: white;
}

.main-menu li:hover i {
    rotate: 180deg;
    transition: 0.3s;
}

/* Hero/Banner Section */
.hero-section {
    position: relative;
}

.hero-section img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.hero-section .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-section .hero-content i {
    color: #C65204;
}

/* Background Image Example */
.background-image-example {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

/* About Us Section */
.about-us {
    display: flex;
    gap: 24px;
    padding: 64px 0 128px;
}

.about-us .image-container {
    width: 33%;
    position: relative;
}

.about-us .image-container img {
    width: 100%;
    height: auto;
}

.about-us .image-container .first-image {
    position: absolute;
}

.about-us .image-container .second-image {
    position: absolute;
    top: 50%;
    right: -30px;
    z-index: -1;
}

.about-us .content {
    width: 67%;
}

.about-us .content .mision-vision {
    display: flex;
}

.about-us .content .mision-vision .guides,
.about-us .content .mision-vision .mission {
    width: 50%;
}

.about-us .content .mision-vision .guides {
    display: flex;
    align-items: center;
}

.about-us .content .mision-vision .guides i {
    font-size: 64px;
    color: #C65204;
}

.about-us .content .mision-vision .guides .details {
    text-align: right;
}

.about-us .content h1 {
    text-align: center;
    position: relative;
}

.about-us .content h1::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 10px;
    background: red;
    left: 32px;
    top: 30px;
}

.about-us .content h1::after {
    content: '';
    position: absolute;
    width: 84px;
    height: 10px;
    background: red;
    right: 32px;
    top: 30px;
}

/* Featured Trips */
.featured-trips {
    padding: 32px 0;
    background: #cfcfcf;
}

.featured-trips .package-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.featured-trips .package-wrapper h2 {
    padding: 0 16px
}

.featured-trips .package-wrapper h2 a {
    text-decoration: none;
    color: #181b1e;
}

.featured-trips .package-wrapper .item {
    width: calc(33.33% - 18px);
    border: 1px solid red;

}

.featured-trips .package-wrapper .item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.featured-trips .package-wrapper .image-wrapper {
    position: relative;
}

.featured-trips .package-wrapper .item .departure {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    gap: 12px;
}

.featured-trips .package-wrapper .item .departure:hover {
    cursor: pointer;
}

.featured-trips .package-wrapper .item .departure p {
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.featured-trips .package-wrapper .item .departure p:first-child {
    background: #2AC699;
}

.featured-trips .package-wrapper .item .departure p:nth-child(2) {
    background: #C65204;
}

.featured-trips .package-wrapper .item .departure p:last-child {
    background: #0C3C5E;
}

.featured-trips .package-wrapper .item .price {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 20px;
    background: #0C3C5E;
    color: white;
}

.featured-trips .package-wrapper .item .review {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
}

.featured-trips .package-wrapper .item .review i {
    color: #C65204;
}

.featured-trips .package-wrapper .item h2 a:hover {
    text-decoration: underline;
    color: #C65204;
}

.featured-trips .package-wrapper .item .info {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.featured-trips .package-wrapper .item .info p {
    font-size: 16px;
}

.featured-trips .package-wrapper .item .info p i {
    font-size: 24px;
    color: #0C3C5E;
}

.featured-trips .package-wrapper .item .image-wrapper .cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}

.featured-trips .package-wrapper .item .image-wrapper:hover .cta {
    display: block;
}

.featured-trips .package-wrapper .item .image-wrapper .cta .book-now,
.featured-trips .package-wrapper .item .image-wrapper .cta .learn-more {
    padding: 12px 16px;
    border: 1px solid #2AC699;
    color: white;
    text-decoration: none;
    border-radius: 32px;
}

.featured-trips .package-wrapper .item .image-wrapper .cta .book-now {
    background: #0C3C5E;
}

.featured-trips .package-wrapper .item .image-wrapper .cta .learn-more {
    background: #C65204;
}

.featured-trips .package-wrapper .item .image-wrapper .cta .book-now:hover {
    background: #C65204;
}

.featured-trips .package-wrapper .item .image-wrapper .cta .learn-more:hover {
    background: #0C3C5E;
}

.tripofmonth {
    text-align: center;
    background: #0C3C5E;
    color: white;
    padding: 64px 0;
}

.tripofmonth h5 {
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #C65204;
    padding: 12px 16px;
    width: fit-content;
    margin: auto;
}

.tripofmonth img {
    width: 1000px;
    height: auto;
    object-fit: cover;
}

.img-container {
    position: relative;
}

.img-container .info {
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    gap: 24px;
}

.img-container .info .info-item {
    display: flex;
    align-items: center;
    border-right: 1px dotted #fff;
}

.img-container .info .info-item:last-child {
    border-right: none;
}

.img-container .info .info-item h3,
.img-container .info .info-item h4 {
    margin: 0;
    padding: 0;
}

.img-container .info .info-item div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table thead tr {
    background: grey;
}

.table tbody tr:nth-child(2n+1) {
    background: #cfcfcf;
}

.form-example input[type=text],
.form-example input[type=password] {
    border: 2px solid red;
    padding: 10px;
    border-radius: 8px;
}

.form-example input[type=text]:focus {
    border: 3px solid green;
}

.includes ul {
    list-style: none;
}


.includes ul li:before {
    content: '\f14a';
    font-family: 'FontAwesome';
    font-size: 16px;

}

/* h1 {
    font-size: 64px;
} */

/* @media only screen and (max-width: 991px) {
    h1 {
        font-size: 40px;
    }

    .etr-container {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 24px;
    }

    .etr-container {
        padding: 0 16px;
    }
}

.etr-container {
    max-width: 1440px;
    padding: 0 64px;
    margin: auto;
}

.etr-container {} */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}